<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.ding_small">
    <!-- 读联系人权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- 写联系人权限 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- 拨号权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 读短信权限 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取当前地理位置要的权限-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 仅网络定位的权限 -->
    <uses-permission android:name="android.permission.INSTALL_LOCATION_PROVIDER" />
    <!--网络访问的权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 申明权限 操作SD卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 改变WIFI网络状态的权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="com.yunliwuli.beacon.kit.service.UartService"
            android:enabled="true" />
        <activity android:name=".MainLayoutActivity" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ContactsActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".NotepadActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ReceivedActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".PayableActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Title.TitleActivity"/>
        <activity android:name=".Title.AddTitleActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".Title.EditTitleActivity"/>
        <activity android:name=".Title.EditTitleItemBtnActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ContactsDetailActivity"/>
        <activity android:name=".ContactsDetailsToActivity"/>
        <activity android:name=".NotepadBtnActivity"/>
        <activity android:name=".SearchActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".NotepadSearchByCalendarActivity"/>
        <activity android:name=".AccountBookActivity"/>
        <activity android:name=".PersonalCenter.PersonalCenterActivity"/>
        <activity android:name=".PersonalCenter.PersonalCenterPerfectActivity"/>
        <activity android:name=".PersonalCenter.InstructionsActivity"/>
        <activity android:name=".PersonalCenter.SettingActivity"/>
        <activity android:name=".PersonalCenter.SatisticsSettingActivity"/>
        <activity android:name=".PersonalCenter.BudgetSettingActivity"/>
        <activity android:name=".PersonalCenter.DataLockActivity"/>
        <activity android:name=".PersonalCenter.AboutActivity"/>
        <activity android:name=".PersonalCenter.BindingCompanyActivity"/>
        <activity android:name=".RemarksActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".SearchTimeActivity"/>
        <activity android:name=".Label.AddLabelActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".Label.EditLabelBtnActivity"/>
        <activity android:name=".Label.EditLabelItemBtnActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".Label.EditLabelActivity"/>
        <activity android:name=".AccountsSearchByCalendarActivity"/>
        <activity android:name=".ForgotPassWordActivity"/>
        <activity android:name=".AddContactsActivity"  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".NotepadAnalysisActivity"/>
        <activity android:name=".NotepadScreenActivity"/>
        <activity android:name=".NotepadReportActivity"/>
        <activity android:name=".NotepadAnalysisTitleStatisticsActivity"/>
        <activity android:name=".NotepadAnalysisLabelStatisticsActivity"/>
        <activity android:name=".NotepadReturnByMonthActivity"/>
        <activity android:name=".NotepadOutTimeActivity"/>
        <activity android:name=".NotepadRemarkDetailsActivity"/>
        <activity android:name=".NotepadAnalysisLabelItemActivity"/>
        <activity android:name=".NotepadTurnToSendActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".PayActivity"/>
        <activity android:name=".ReceivablesActivity"/>
        <activity android:name=".AccountBookReportActivity"/>
        <activity android:name=".AccountBookAnalysisActivity"/>
        <activity android:name=".AccountReturnByMonthActivity"/>
        <activity android:name=".AccountScreenActiivity"/>
        <activity android:name=".InComeActivity"/>
        <activity android:name=".AccountInComeItemDetailActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".AccountAnalysisLabelStatisticsActivity"/>
        <activity android:name=".ExpenditureActivity"/>
        <activity android:name=".AccountOutTimeActivity"/>
        <activity android:name=".DeviceListActivity"/>
        <activity android:name=".DeviceDetailActivity"/>
        <activity android:name=".SelectDeviceActivity"/>
        <activity android:name=".DeviceSearchActivity"/>
        <activity android:name=".CreatRepairActivity"/>
        <activity android:name=".CreatRepairRemarksActivity" android:windowSoftInputMode="adjustPan|stateVisible"/>
        <activity android:name=".PerfectDeviceActivity" android:windowSoftInputMode="adjustPan|stateAlwaysVisible"/>
    </application>

</manifest>